<h3><%%= link_to 'The <%= plural_table_name.titleize %> records:', <%= plural_table_name %>_path %></h3>

<%%= search_form_for @q, :class => "well form-search" do |f| %>
  <%%= link_to 'Input <%= human_name %>', new_<%= singular_table_name %>_path, :class => 'btn btn-primary' %>
  <%%= raw "&nbsp;"*7 %>
  <%%= f.submit :class => "btn" %>
  <%%= link_to 'CSV Export', <%= plural_table_name %>_path.concat('.csv') %>
<%% end %>

<hr>

<table class="table table-bordered table-condensed">
<thead>
  <colgroup>
    <col class="actions" />
<% attributes.each do |attribute| -%>
  <% unless ['create_badge','create_shift_code','update_badge','update_shift_code'].include?(attribute.name) -%>
    <col />
  <% end -%>
<% end -%>
  </colgroup>
  <tr>
    <th>Actions &amp; Time Ago</th>
<% attributes.each do |attribute| -%>
  <% unless ['create_badge','create_shift_code','update_badge','update_shift_code'].include?(attribute.name) -%>
    <th><%= attribute.human_name.titleize %></th>
  <% end -%>
<% end -%>
  </tr>
</thead>
<tbody>
<%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| -%>
<tr>
  <td>
  <%% if can? :update, <%= singular_table_name %> %>
  <%%= link_to raw('<i class="icon-edit"></i>'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>) -%>
  <%% end %>
  <%% if can? :delete, <%= singular_table_name %> %>
  <%%= link_to raw('<i class="icon-remove"></i>'), <%= singular_table_name %>, <%= key_value :confirm, "'Are you sure?'" %>, <%= key_value :method, ":delete" %> -%>
  <%% end %>
  <%%= link_to time_ago_in_words(<%= singular_table_name %>.created_at), <%= singular_table_name %> -%>
  </td>
<% attributes.each do |attribute| -%>
  <% unless ['create_badge','create_shift_code','update_badge','update_shift_code'].include?(attribute.name) -%>
    <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
  <% end -%>
<% end -%>
</tr>
<%% end -%>
</tbody>
</table>
<%%= will_paginate @<%= plural_table_name %> %>
<!--Note-->